@use "sass:list";
.node-icon {
  font-size: 40px;
}

.subtitle .param {
  // flex: 1 0 auto;
}

.editor .subtitle .param {
  border: 1px solid #ccc;
  background-color: #ddd;
  padding: 2px 4px;
  margin: 2px 4px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: baseline;

  &.primary {
    color: blue;
  }

  &:hover {
    border: 1px solid #ddd;
    background-color: #eee;

    &.primary {
      color: blue;
    }
  }

  .step {
    // border: 1px solid #ccc;
    // background-color: #ddd;
    // padding: 4px;
    // margin: 2px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 4px;
    color: rgb(0, 99, 8);
  }

  .variable {
    border: 1px solid rgb(139, 197, 255);
    background-color: rgb(173, 214, 255);
    color: rgb(26, 140, 255);
    padding: 4px;
    margin: 2px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 4px;
  }


}

.editor .step-placeholder {
  border: 1px solid #ccc;
  background-color: #ddd;
  padding: 2px;
  margin: 2px;
  border-radius: 4px;
  cursor: pointer;
}

.step-missing {
  color: red;
  font-weight: bold;
}

.bold {
  font-weight: 700;
}


.p-button {
	font-weight: 500;
}

$sizes: 12, 14, 16, 18, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64, 72, 80, 96 !default;
@for $i from 1 through list.length($sizes) {
  .fs-#{list.nth($sizes, $i)} {
    font-size: #{list.nth($sizes, $i)}px;
  }
}

.rotate {
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.premium {
  &.p-button {
    background-color: #FFD7004D;
    border-color: #FFD7004D;
    color: #ffffff;
  }
}
