.node-icon {
  font-size: 40px;
}

.subtitle .param {
  flex: 1 0 auto;
}

.editor .subtitle .param {
  border: 1px solid #ccc;
  background-color: #ddd;
  padding: 4px;
  margin: 4px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: baseline;

  &.primary {
    color: blue;
  }

  &:hover {
    border: 1px solid #ddd;
    background-color: #eee;

    &.primary {
      color: blue;
    }
  }

  .step {
    border: 1px solid #ccc;
    background-color: #ddd;
    padding: 4px;
    margin: 2px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 4px;
  }
}

.editor .step-placeholder {
  border: 1px solid #ccc;
  background-color: #ddd;
  padding: 2px;
  margin: 2px;
  border-radius: 4px;
  cursor: pointer;
}

.bold {
  font-weight: 700;
}


.p-button {
	font-weight: 500;
}

$sizes: 12, 14, 16, 18, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64, 72, 80, 96 !default;
@for $i from 1 through length($sizes) {
  .fs-#{nth($sizes, $i)} {
    font-size: #{nth($sizes, $i)}px;
  }
}
