<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0"
  >
  <title>Document</title>

  <script type="module" src="/src/main.ts" defer></script>

  <style>
    html,
    body {
      /* background-color: rgba(255, 0, 0, 0.25); */
      /* pointer-events: none; */
    }
  </style>
</head>

<body>
  <button id="btn">Show overlay</button>
  <button id="btn2">Hide overlay</button>
  <div id="counter"></div>
</body>

<!-- <script type="module" src="../main.ts"></script> -->

</html>
