<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0"
  >
  <title>Document</title>

  <script type="module" src="/src/main.ts" defer></script>

  <style>
    html,
    body {
      margin: 0;
      padding: 0;
      /* background-color: rgba(255, 0, 0, 0.25); */
    }

    canvas {
      width: 800px;
      height: 600px;
      pointer-events: none;
      border: 1px solid red;
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      opacity: 0.5;
    }
  </style>
</head>

<body>
  <button id="btn">Show overlay</button>
  <button id="btn2">Hide overlay</button>

  <iframe src="https://stackoverflow.com/"></iframe>

  <canvas id="wgpuCanvas" width="800" height="600"></canvas>

  <div id="counter"></div>
</body>

<!-- <script type="module" src="../main.ts"></script> -->

</html>
