name: Electron Forge CI/CD

on:
  push:
    tags:
      - "*"
    branches:
      - main
      - develop
  pull_request:
    branches: [main, develop]
  merge_group:

jobs:
  build-and-test:
    runs-on: ${{ matrix.os }}
    env:
      CI: true

    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        arch: [x64, arm64]
        exclude:
          - os: ubuntu-latest
            arch: arm64
          - os: windows-latest
            arch: arm64

    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          run_install: false

      - name: Use Node.js 22.5.1
        uses: actions/setup-node@v4
        with:
          node-version: "22.5.1"
          cache: "pnpm"

      - name: Set up Python 3.10
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: pnpm install

      - name: rebuild
        run: pnpm rebuild

      - name: Import Apple Code Signing Certificate
        uses: apple-actions/import-codesign-certs@v3
        if: matrix.os == 'macos-latest'
        with:
          p12-file-base64: ${{ secrets.CERTIFICATE_OSX_APPLICATION }}
          p12-password: ${{ secrets.CERTIFICATE_OSX_APPLICATION_PASSWORD }}

      - name: Verify certificates
        if: matrix.os == 'macos-latest'
        run: |
          security find-identity -v -p codesigning
          codesign --verify --verbose /Applications/Xcode.app

      - name: Cache keychain
        uses: actions/cache@v4
        if: matrix.os == 'macos-latest'
        with:
          path: ~/Library/Keychains
          key: ${{ runner.os }}-keychain-${{ hashFiles('**/*.p12') }}

      - name: Package application
        env:
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
          SUPABASE_URL: ${{ secrets.SUPABASE_URL }}
          SUPABASE_ANON_KEY: ${{ secrets.SUPABASE_ANON_KEY }}
          SUPABASE_PROJECT_ID: ${{ secrets.SUPABASE_PROJECT_ID }}
          POSTHOG_API_KEY: ${{ secrets.POSTHOG_API_KEY }}
          APPLE_ID: ${{ secrets.APPLE_ID }}
          APPLE_ID_PASSWORD: ${{ secrets.APPLE_ID_PASSWORD }}
          APPLE_TEAM_ID: ${{ secrets.APPLE_TEAM_ID }}
        run: pnpm electron-forge publish --dry-run --arch ${{ matrix.arch }}

      - name: Disable AppArmor restriction
        if: matrix.os == 'ubuntu-latest'
        run: sudo sysctl -w kernel.apparmor_restrict_unprivileged_userns=0

      - name: Run tests
        uses: coactions/setup-xvfb@v1
        continue-on-error: true
        with:
          run: pnpm test:e2e:raw

      - name: Upload Playwright artifacts
        uses: actions/upload-artifact@v4
        continue-on-error: true
        with:
          name: ${{ matrix.os }}-playwright
          path: playwright/**/*

      - name: windows workaround
        if: matrix.os == 'windows-latest'
        run: rd -r "out/Pipelab-win32-x64/resources/app/node_modules"

      - name: Upload artifacts
        if: success()
        continue-on-error: true
        uses: actions/upload-artifact@v4
        with:
          name: artifact-${{ matrix.os }}-${{ matrix.arch }}-out
          path: out/**/*

  release:
    permissions:
      contents: write
      discussions: write
    needs: build-and-test
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        arch: [x64, arm64]
        exclude:
          - os: ubuntu-latest
            arch: arm64
          - os: windows-latest
            arch: arm64
    if: startsWith(github.ref, 'refs/tags/')

    steps:
      - uses: actions/checkout@v4

      - name: Download artifacts
        uses: actions/download-artifact@v5
        with:
          name: artifact-${{ matrix.os }}-${{ matrix.arch }}-out
          path: out

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          run_install: false

      - name: Use Node.js 22.5.1
        uses: actions/setup-node@v4
        with:
          node-version: "22.5.1"
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install --prod=false

      - name: windows workaround
        if: matrix.os == 'windows-latest'
        run: cd out/Pipelab-win32-x64/resources/app && pnpm i

      - name: Publish release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: pnpm electron-forge publish --from-dry-run
