name: Electron Forge CI/CD

on:
  push:
    tags:
      - '*'
    branches:
      - main
      - develop
  pull_request:
    branches: [main, develop]
  merge_group:

jobs:
  build-and-test:
    runs-on: ${{ matrix.os }}
    env:
      CI: true

    strategy:
      matrix:
        # , macos-latest
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          run_install: false

      - name: Use Node.js 22.5.1
        uses: actions/setup-node@v4
        with:
          node-version: '22.5.1'
          cache: 'pnpm'

      - name: Set up Python 3.10
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: pnpm install

      - name: logs
        run: ls node_modules/@lydell

      - name: rebuild
        run: npm rebuild

      - name: debug
        if: matrix.os == 'macos-latest'
        env:
          APPLE_ID: ${{ secrets.APPLE_ID }}
        run: echo ${{secrets.APPLE_ID}} | sed 's/./& /g'

      - name: Package application
        if: matrix.os != 'macos-latest'
        env:
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
          SUPABASE_URL: ${{ secrets.SUPABASE_URL }}
          SUPABASE_ANON_KEY: ${{ secrets.SUPABASE_ANON_KEY }}
          SUPABASE_PROJECT_ID: ${{ secrets.SUPABASE_PROJECT_ID }}
          POSTHOG_API_KEY: ${{ secrets.POSTHOG_API_KEY }}
          APPLE_ID: ${{ secrets.APPLE_ID }}
          APPLE_ID_PASSWORD: ${{ secrets.APPLE_ID_PASSWORD }}
          APPLE_TEAM_ID: ${{ secrets.APPLE_TEAM_ID }}
        run: pnpm electron-forge publish --dry-run

      # - name: Add MacOS certs
      #   if: matrix.os == 'macos-latest'
      #   run: chmod +x assets/build/add-osx-cert.sh && ./assets/build/add-osx-cert.sh
      #   env:
      #     CERTIFICATE_OSX_APPLICATION: ${{ secrets.CERTIFICATE_OSX_APPLICATION }}
      #     CERTIFICATE_OSX_APPLICATION_PASSWORD: ${{ secrets.CERTIFICATE_OSX_APPLICATION_PASSWORD }}

      - name: Import Apple Code Signing Certificate
        # This step is critical for signing. It takes your base64-encoded .p12
        # from secrets and imports it into a temporary keychain.
        # This action often handles the secure handling of the p12.
        uses: apple-actions/import-codesign-certs@v3 # Using a reliable action
        if: matrix.os == 'macos-latest'
        with:
          p12-file-base64: ${{ secrets.CERTIFICATE_OSX_APPLICATION }}
          p12-password: ${{ secrets.CERTIFICATE_OSX_APPLICATION_PASSWORD }}

      - name: Verify Imported Identities
        if: matrix.os == 'macos-latest'
        run: security find-identity -p codesigning -v

      - name: Package application
        if: matrix.os == 'macos-latest'
        env:
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
          SUPABASE_URL: ${{ secrets.SUPABASE_URL }}
          SUPABASE_ANON_KEY: ${{ secrets.SUPABASE_ANON_KEY }}
          SUPABASE_PROJECT_ID: ${{ secrets.SUPABASE_PROJECT_ID }}
          POSTHOG_API_KEY: ${{ secrets.POSTHOG_API_KEY }}
          APPLE_ID: ${{ secrets.APPLE_ID }}
          APPLE_ID_PASSWORD: ${{ secrets.APPLE_ID_PASSWORD }}
          APPLE_TEAM_ID: ${{ secrets.APPLE_TEAM_ID }}
        run: DEBUG=* pnpm electron-forge publish --dry-run

      - name: Disable AppArmor restriction
        if: matrix.os == 'ubuntu-latest'
        run: sudo sysctl -w kernel.apparmor_restrict_unprivileged_userns=0

      - name: Run tests
        uses: coactions/setup-xvfb@v1
        if: matrix.os == 'ubuntu-latest'
        # continue-on-error: true
        with:
          run: pnpm test:e2e:raw

      - name: Upload Playwright artifacts
        # continue-on-error: true
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.os }}-playwright
          path: playwright/**/*

      - name: Upload artifacts
        if: success()
        # continue-on-error: true
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.os }}-out
          path: out/**/*

  release:
    permissions:
      contents: write
      discussions: write
    needs: build-and-test
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        # , macos-latest
        os: [ubuntu-latest, windows-latest, macos-latest]
    if: startsWith(github.ref, 'refs/tags/')

    steps:
      - uses: actions/checkout@v4

      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          name: ${{ matrix.os }}-out
          path: out

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          run_install: false

      - name: Use Node.js 22.5.1
        uses: actions/setup-node@v4
        with:
          node-version: '22.5.1'
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install --prod=false

      - name: Publish release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: pnpm electron-forge publish --from-dry-run
